.expandmenu{        
    // border-radius: 30px;      
}

/* mobile nav css */
.menu {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.menu div {
    width: 25px;
    height: 40px;
    position: relative;
}

.menu span {
    /* background-color: black; */
    height: 2px;
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s, width 0.3s;
    border-radius: 30px;
}

.menu .line1 {
    transform: translate(-50%, -8px);

}

.menu .line2 {
    transform: translate(-50%, 0px);    
}

.menu .line3 {
    transform: translate(-50%, 8px);
    width: 80%;    
}

.openmenu .line1 {
    transform: translate(-50%, -50%) rotate(45deg);
    color: white;
    transition: 0.5s ease-in-out;
}

.openmenu .line3 {
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;
    color: white;
    transition: 0.5s ease-in-out;
}

.openmenu .line2 {
    width: 0;
    color: white;
    transition: 0.5s ease-in-out;
}


