@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'conthrax';
    src: url('/fonts/conthrax-sb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gray: #f2f2f2;
}

body {
    @apply md:container min-h-screen overflow-x-hidden;
    font-family: 'conthrax', sans-serif;
}

.border {
    @apply border-[1px] border-solid border-neutral-200;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

h1 {
    @apply text-xl md:text-3xl lg:text-5xl font-bold
}

h2 {
    @apply text-lg md:text-[15px] font-bold
}

h3 {
    @apply text-lg font-semibold
}

h4 {
    @apply text-[15px] font-semibold
}

p {
    @apply text-[10px] text-neutral-400;
}


.myCustomClass {
    display: inline-block;
}

.sidebarcon {
    background: rgba(0, 0, 0, 0.75);
}

.bs {
    box-shadow: 10px 10px 20px #babecc,
        -10px -10px 20px #ffffff
}

.glass {
    background: rgba(245, 245, 245, 0.1);
    backdrop-filter: blur(17.5px);
    -webkit-backdrop-filter: blur(17.5px);
}

.header.sticky {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(17.5px);
    box-shadow: 0 8px 10px 10px rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(17.5px);
    transition: 0.5s ease-in-out all;
    border-radius: 30px;
    top: 10px;
}


/* text hover animation */
.hoveranimation::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: black;
    margin: auto;
    display: block;
    transition: width 0.3s linear;
    z-index: 1;
}

.hoveranimation:hover::after {
    width: 100%;
}

.wave {
    width: 100%;
    background: url('./assets/wave.webp');
    background-size: 1000px 50px;
    animation: animate 1s linear infinite;
    z-index: 1000;
    opacity: 0.8;
    filter: invert(0.95);
    margin-bottom: -0.8px;
}

.curves {
    overflow: hidden;
}

.curves::before {
    content: "";
    display: block;
    width: 200%;
    height: 200%;
    position: absolute;
    border-radius: 50%;
    bottom: 0;
    left: 0;
    box-shadow: -50px 50px 0 0 white;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}


/* products collections */
.productcollections {
    display: flex;
    flex-direction: row;
    position: relative;
}

.productcollections .collection {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid white;
}

.productcollections .pro2 {
    position: absolute;
    left: 15px;
}

.productcollections .pro3 {
    position: absolute;
    left: 30px;
}

.productcollections .pro4 {
    position: absolute;
    left: 45px;
}


/* loading animation */
.loader {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: black black transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #FF3D00 #FF3D00;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}

.loader::before {
    width: 20px;
    height: 20px;
    border-color: black black transparent transparent;
    animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.custom-sloped-corner {
    clip-path: polygon(0 0, 100% 0, 100% 0, 85% 100%, 0 100%);
}


.row-title {
    display: inline-block;
}

.row-letter {
    display: inline-block;
    overflow: hidden;
}