.cart {
    position: absolute;    
    width: 40px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);    
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;

    i {
        font-size: 25px;
        color: white;
    }
    
    &.shake {
        animation: shakeCart .4s ease-in-out forwards;
    }
}

@keyframes xAxis {
    100% {
        transform: translateX(calc(50vw - 105px));
    }
}

@keyframes yAxis {
    100% {
        transform: translateY(calc(-50vh + 75px));
    }
}

@keyframes shakeCart {
    25% {
        transform: translateX(6px)
    }

    50% {
        transform: translateX(-4px);
    }

    75% {
        transform: translateX(2px);
    }

    100% {
        transform: translateX(0);
    }
}